@media (resolution: 96dpi) and (device-width: 1280px) {
    :root {
        --inch: 116px;
    }
    .square {
        background-color: cornflowerblue;
    }
}


/* 17" Retina MBP/Chrome values */

@media (resolution: 192dpi) and (device-width: 2880px) {
    :root {
        --inch: 130px;
    }
    .square {
        background-color: rebeccapurple;
    }
}
