*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.flex {
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Web standards have an inch unit, but not really.  */

.standards {
    width: 1in;
    height: 1in;
    background: orange;
    margin: auto 1vmin;
}

.square {
    width: var(--inch);
    height: var(--inch);
    background-color: orangered;
}
