*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    width: 100%;
}

.box {
    height: 50vh;
    height: 50vw;
}

.flex {
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.standards {
    width: 1in;
    /* Web standards has an inch unit, but not really.  */
    height: 1in;
    background: orange;
    margin: auto 1vmin;
}

.square {
    width: var(--inch);
    height: var(--inch);
    /*background: orangered;*/
}
